<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
    <script src="script/main.js"></script>
</head>

<body ng-app="app">

    <div class="container" id="div1" ng-controller="sample">
       Controller: a = {{ a }}, b = {{ b }} <br><br>
      
       Modify a: <input ng-model="a" /> <br><br>
       <button ng-click="changeValueB()">Change value B</button> <br><br><hr>
       

       Directive 1, instance 1: <div message></div><hr>
       Directive 1, instance 2: <div message></div><hr>
       Directive 2, instance 1: <div message></div><hr>

    </div>

</body>
</html>