<!DOCTYPE html>
<html ng-app="myModule">

<head>
    <!-- LINKOVANJE POCETNE STRANICE SA CSS I JS-->
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/scripts.js"></script>
    <title>Basics of Angular</title>
</head>

<body ng-app="myModule">
    <div ng-controller="myController">
        <!-- POLJA ZA PRETRAGU PREMA UNESENIM PARAMETRIMA, 
             KAO I PADAJUCA LISTA ZA SORTIRANJE ZAPOSLENIH PREMA NEKOM PARAMETRU-->

    
    Search a desired name:   <input type="text" placeholder="Search only by the name" ng-model="searchText.name" onfocus="this.placeholder='Input your text here'"/>
    Search the city:   <input type="text" placeholder="Search only by the city" ng-model="searchText.city" onfocus="this.placeholder='Input your text here'" />
    <br><br>
    Search name & city:   <input type="text" placeholder="Search only by name and city" ng-model="searchText" onfocus="this.placeholder='Input your text here'"/>

    
    
    <br><br>
    Sort By:  <select ng-model="sortColumn">
                <option value="name">Name ascending</option>
                <option value="dateOfBirth">Date of Birth ascending</option>
                <option value="gender">Gender ascending</option>
                <option value="-salary">Salary descending</option>
                <option value="-city">City descending</option>
              </select>
    <br /><br />

   

    <table>
        <thead>
            <tr>
                <th ng-click="sortData('name')">
                    Name <div ng-class="getSortClass('name')"></div>
                </th>
                <th ng-click="sortData('dateOfBirth')">
                    Date of Birth <div ng-class="getSortClass('dateOfBirth')"></div>
                </th>
                <th ng-click="sortData('gender')">
                    Gender <div ng-class="getSortClass('gender')"></div>
                </th>
                <th ng-click="sortData('salary')">
                    Salary <div ng-class="getSortClass('salary')"></div>
                </th>
                <th ng-click="sortData('city')">
                    City <div ng-class="getSortClass('city')"></div>
                </th>
            </tr>
        </thead>

        <tbody>

         
                <!-- POCETNA STRANICA UZIMA PODATKE IZ JS SKRIPTE
                 POZIVANJEM ODGOVARAJUCE PROMENLJIVE.
                 TAKODJE SE POZIVAJU I DVE FUNKCIJE KOJE SE ODNOSE NA
                 SORTIRANJE PREMA KOLONI I OPADAJUCE SORTIRANJE -->     
                <tr ng-repeat="employee in employees | orderBy: sortColumn:reverseSort | filter: searchText">
                    <td> {{ employee.name }} </td>
                    <td> {{ employee.dateOfBirth | date:"dd/MM/yyyy"}} </td>
                    <td> {{ employee.gender }} </td>
                    <td> {{ employee.salary | currency: $}} </td>
                    <td> {{ employee.city }} </td>
                </tr>

        </tbody>
    </table>

    <br><br>
    All of the employees are living in the following cities:
    <ul>
        <li ng-repeat="country in countries" ng-init="parentIndex = $index">
        {{ country.name }}
        <ul>
            <li ng-repeat="city in country.cities">
                {{ city.name }} - Parent Index = {{ parentIndex }}, Index = {{ $index }}
            </li>
        </ul>
        </li>
    </ul>

    </div>
</body>
</html>